#aboutPat {
  position: absolute;
  top: 13em;
}
#aboutPat p img {
  position: absolute;
  top: -13em;
  left: 25em;
}
/*
#mainAbout {
  background-color: #106882;
  position: absolute;
  top: 13em;
  height: 100%;
  width: 100%;
}*/
/*
Back in the days when I was a teenager. Before I had status and before I had a pager, you could find the Abstract listening to hip hop. My pops used to say, it reminded him of Bebop. I said, "well daddy don't you know that things go in cycles?" Way that Bobby Brown is just amping like Michael. Its all expected, things are for the looking. If you got the money, Quest is for the booking.

Come on everybody, let's get with the fly mode. Still got room on the truckload of black boom. Listen to the rhymes, then get a mental picture of this black man, and black woman fixture. Why do I say that, cuz I gotta speak the truth, man. Doing what we feel for the music is the proof and planted on the ground, the act is so together. Bona fide strong, you need leverage to sever the unit, yes the unit, yes the unit called the jazz is delivering each year an LP filled with street goods. You can find it on your rack in your record store. If you get the record, say your thoughts are adored and appreciated, cuz we're ever so glad we made it. We work hard, so we gotta thank God. Dishing out the plastic, do the dance till you're spastic. If you diss...it gets drastic.

Listen to the rhyme, cuz it's time to make gravy. If it moves your booty, then shake, shake it baby. All the way to Africa aka The Motherland. Stick out the left, then I'll ask for the other hand. That's the right hand, Black Man. Only if you are noted as my man. If I get the credit, then I think I deserve it. If you fake moves, don't fix your mouth to word it. Get in the zone of positivity, not negativity, cuz we gotta strive for longevity. If you botch up, what's in that ass?

A pair of Nikes size ten-and-a-half.*/
