* {
  font-family: 'Oswald', sans-serif;
}

#body{
  padding: 50px 30px 50px 80px;
  background-color: rgb(68, 68, 68);
  color: lightgray;
}
body{
  background-color: #106882;
}

/* Got template from: http://www.sanwebe.com/2013/10/css-html-form-styles */
.body-theme {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left:auto;
  margin-right:auto;
  max-width: 31.25em;
  padding: 1.563em 0px 1.563em 0.625em;
  color: #106882;
  text-shadow: 1px 1px 1px #FFF;
  border:5px solid #CD6723;
  border-radius: 3.125em;
  background-color: lightgray;
}
.body-theme h1 {
  font-size: 25px;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom:1px solid #E4E4E4;
  margin: -10px -15px 30px -10px;;
  color: #888;
}

/*Formatting for a span within an h1 tag*/
.body-theme h1>span {
  display: block;
  font-size: 11px;
  color: #CD6723;
}
.body-theme label {
  display: block;
  margin: 0px;
}
.body-theme label>span {
  /*float: left;*/
  width: auto;
  text-align: right;
  padding-right: 10px;
  color: #888;
}
.body-theme input[type="text"], .body-theme input[type="number"], .body-theme textarea, .body-theme select {
  border: 1px solid #DADADA;
  color: #888;
  padding: 3px 3px 3px 5px;
  width: 25%;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.body-theme .button {
  background: #CD6723;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 50px;
  text-shadow: 1px 1px 1px #9E3F3F;
  cursor: pointer;
}
.body-theme .button:hover {
  background: #CF7A7A
}
.pagetitle {
  border-bottom: 1px lightgray solid;
}

table, th {
  border: .2em solid white;
  padding: .3em;
}

td {
  border: .1em solid #CD6723;
  padding: .2em;
}
