.title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

.form {
  font-family: 'Arial', sans-serif;
}

.sums {
  font-weight: bolder;
  color: blue;
}

#body{
    background-image: url("http://img01.deviantart.net/6ee0/i/2008/131/7/8/crumpled_white_paper_texture_by_melemel.jpg");
}
