* {
  font-family: 'Oswald', sans-serif;
}
#body {
  background-image: url("../res/fishies.jpg");
  background-size: contain;
  padding: 0em;
}
body{
  background-color: #106882;
}
header {
  background-color: #106882;
  width: 100%;
  height: 13em;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
}
#patsLogo {
  width: 20%;
  padding-bottom: 20%;
  position: relative;
  float: left;
}

#headerPic {
  width: 80%;
  padding-bottom: 20%;
  position: relative;
  float: left;
}
.innerContent {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 0px;
}

#logo {
  width: 25%;
  height: 11em;
  margin: 0em auto;
  padding: 0em;
  clear: both;
}

#slogan{
  width: 75%;
  color: lightgray;
  font-style: italic;
  text-align: center;
}

nav {
  position: absolute;
  padding-top: 10em;
  width: 100%;
  z-index: 0;

}

#navItems, #navItems ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: lightgray;
}

#navItems li {
  float: left;
}

#navItems li a, #navItems ul li a{
  display: block;
  text-align: center;
  padding: .8em 1em;
  text-decoration: none;
}

#navItems li a:hover , #navItems ul li a:hover{
  background-color: #CD6723;
}

#navItems ul {
  float: right;
}

.mainSection {
  background-color: #106882;
  position: absolute;
  top: 13em;
  height: 100%;
  width: 100%;
}

#aboutPat p img {
  -webkit-transform;
  -webkit-transition-duration: 2s;
}

#aboutPat p img:hover {
  transform: scale(1.25,1.25);
  /*transform: matrix(1, -0.3, 0, 1, 0, 0);*/
}

.mainSection p {
  text-align: center;
}
.mainSection p img {
  margin:auto;
}
#familyPic {
  border-radius: 50em;
  border: .25em #CD6723 solid;
  margin:auto;
}
h1 {
  margin: auto;
  color: lightgray;
  text-align: center;
  font-size:
  border-bottom: 1px solid gray;
  font-variant: small-caps;
  font-size: 3em;
}
