* {
  font-family: 'Oswald', sans-serif;
}

#body {
  padding: 50px 30px 50px 80px;
  background-color: rgb(68, 68, 68);
  color: lightgray;
}

#fontWindow {
  height: 5em;
  width: 50em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  color: black;
  border: .2em white solid;
}

.legendText {
  background-color: lightgray;
}
.box{
  height: 10em;
  border: .2em white solid;
  font-weight: bolder;
  color: white;
}

.styleElement {
  border: .2em white solid;
  padding: 10px 6px 10px 16px;
}
#colorgrid {
  border: .2em white solid;
}
#flightpath {
  background-color: #51396C;
}

#blueheart {
  background-color: #2140D1;
}

#direct {
  background-color: #F1AC04;
}

#rapid {
  background-color: #106882;
}

#seeminglychangeable {
  background-color: #F47C4D;
}

#brick {
  background-color: #CD6723;
}
#bgPic {
  border: .2em white solid;
}
.fontcolor {
  font-size: .9em;
}
